<div class="footer-container bg-dark">
  <% if current_user.try(:admin?) %>
    <p class="kanri-login"><%= link_to '管理者ログイン', rails_admin_path, class: "btn btn-outline-warning btn-sm" %></p>
  <% end %>
  <p>college-pedia 2022</p>
</div>
