<div class="header-container">
  <div class="header-content-left">
    <%= link_to 'Home', '/', class: "home-button" %>
  </div>
  <div class="header-content-right">
    <% if user_signed_in? %>
      <ul>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "login-button" %></li>
        <li><%= link_to 'Profile', user_path(current_user.id), class: "login-button" %></li>
      </ul>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: "login-button" %>
    <% end %>
  </div>
</div>
