<div class="header-container">
  <div class="header-content-left">
    <%= link_to 'Home', '/', class: "home-button" %>
  </div>
  <div class="header-content-right">
    <%= link_to 'Login', new_user_session_path, class: "login-button" %>
  </div>
</div>
