<div class="home-main-container">
  <div class="home-main-content">
    <h1>College-pedia</h1>
    <input type="text" placeholder="大学名で探す" aria-label="default input example">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </div>
</div>
