<div class="container">
  <div class="row">
    <div class="col-12" id="home-content">
      <h1 class="home-title">College-pedia</h1>
      <input class="form-control" type="text" placeholder="大学名で探す" aria-label="default input example">
      <button class="btn btn-outline-primary" type="submit">Search!</button>
    </div>
  </div>
</div>
