<div class="container" id="home-container">
  <div class="row">
    <div class="col-11 col-md-6 pt-5 pb-5" id="home-index-container">
      <h1 class="home-title">College-pedia</h1>
      <div class=" d-flex home-input-container">
        <input class="form-control me-2" type="text" placeholder="大学名で探す" aria-label="default input example">
        <button class="ms-auto btn btn-outline-primary p-2" type="submit">Search</button>
      </div>
    </div>
  </div>
</div>
