<%= link_to college_path(college), class: "block-link link-dark" do %>
  <p class="mb-0 fw-bold">-<%= college.name %></p>
  <p class="fw-light"><i class="fas fa-map-marker-alt ps-1"></i> <%= college.address %></p>
<% end %>
